#logo_UNM{
    background-color:  dodgerblue;;
    color: rgb(2, 2, 26);
    text-align: left;
}
#title_h1{
    background-color: dodgerblue;
    color: rgb(2, 2, 26);
    text-align: center;
}

#sub_title_1{
    background-color:  dodgerblue;;
    color: rgb(2, 2, 26);
    text-align: left;
}
#sub_tilte_2{
    background-color:  dodgerblue;;
    color: rgb(2, 2, 26);
    text-align: left;
    padding-bottom: 1%;
    }
#form_registro{
    background-color:dodgerblue;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 1%;
    text-align:left;
    margin-top: 2%;
    }

#parafo_1{
    background-color:  yellowgreen;;
    color: rgb(2, 2, 26);
    text-align: center;
}
#form_gota{
    background-color:dodgerblue;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
    text-align:left;
    margin-top: 2%;
    }
body{
    background-color:darkblue;
}
